<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CBC Report</title>
</head>
<body>
<div class="client" th:each="client : ${cbcReport.clients}">
    <table style="margin-top: 40px;" id="CBC-first-header">
        <tr class="text-left">
            <th width="45%">
                <img src="/imgs/CBC_logo.png">
            </th>
            <th>Consumer Report</th>
        </tr>
    </table>
    <div class="demarcation" style="display: flex">
        <table>
            <tr>
                <td>
                    <table id="left">
                        <tr class="text-left">
                            <td class="bold" width="25%">
                                Report Date
                            </td>
                            <td width="25%" th:text="${#temporals.format(cbcReport.reportDate, 'dd/MM/yyyy')}">
                            </td>
                            <td class="bold" width="25%">
                                Enquiry Type
                            </td>
                            <td width="25%" th:text="${cbcReport.enquiryType == 'NA'} ? 'New Application' : ''">
                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="bold">
                                Enquiry Number
                            </td>
                            <td th:text="${cbcReport.enquiryNo}">
                            </td>
                            <td class="bold">
                                Product Type
                            </td>
                            <td th:text="${cbcReport.loanPurpose}">
                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="bold">
                                Number of Applicants
                            </td>
                            <td th:text="${cbcReport.numberOfApplicants}">
                            </td>
                            <td class="bold">
                                Account Type
                            </td>
                            <td th:text="${cbcReport.accountType == 'J'} ? 'Joint' : 'Single'">
                            </td>
                        </tr>
                        <tr class="text-left">
                            <td class="bold">
                                Member Reference
                            </td>
                            <td th:text="${cbcReport.enquiryRef}">
                            </td>
                            <td class="bold">
                                Amount
                            </td>
                            <td>
                                <span th:text="${cbcReport.currencyCode}"></span>&nbsp;
                                <span th:text="${#numbers.formatDecimal(cbcReport.amount, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td th:style="${client.score.scoreNum != null && client.score.scoreCard != null && client.score.scoreIndex != null && client.score.odds != null &&  client.score.badRate != null} ? 'width: 30%' : 'display:none'">
                    <table id="score-right">
                        <tr>
                            <td rowspan="5" id="big-score-number" th:text="${client.score.scoreNum}"></td>
                            <td class="score-second-column">Scorecard:</td>
                            <td th:text="${client.score.scoreCard}"></td>
                        </tr>
                        <tr>
                            <td class="score-second-column">Score:</td>
                            <td th:text="${client.score.scoreNum}"></td>
                        </tr>
                        <tr>
                            <td class="score-second-column">Score Index:</td>
                            <td th:text="${client.score.scoreIndex}"><span></span></td>
                        </tr>
                        <tr>
                            <td class="score-second-column">Good/Bad Odds:</td>
                            <td><span th:text="${client.score.odds}"></span>&nbsp;:&nbsp;<span>1</span></td>

                        </tr>
                        <tr>
                            <td class="score-second-column">Bad Rate:</td>
                            <td><span th:text="${client.score.badRate}"></span>&nbsp; %</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <img th:style="${client.score.scoreNum != null && client.score.scoreCard != null && client.score.scoreIndex != null && client.score.odds != null &&  client.score.badRate != null} ? 'display:inline' : 'display:none'"
                         src="/imgs/colored_barcode.png">
                </td>
            </tr>
        </table>
    </div>
    <table class="table-with-border demarcation">
        <tr class="text-center">
            <th>
                Description
            </th>
            <th colspan="3">
                Data Provided
            </th>
        </tr>
        <tr class="text-left">
            <td width="34%" class="bold">
                ID Type and Number / ID Exqiry Date
            </td>
            <td width="22%">
                <span th:text="${client.clientIdentification.clientIdentificationType}"></span>&nbsp;
                <span th:text="${client.clientIdentification.idNumber}"></span>
            </td>
            <td width="22%" th:text="${#temporals.format(client.clientIdentification.expiryDate, 'dd/MM/yyyy')}">
            </td>
            <td width="22%">
            </td>
        </tr>
        <tr class="text-left">
            <td class="bold">
                Family Name / First Name / Second Name (Khmer)
            </td>
            <td th:text="${client.khmerLastName} ">
            </td>
            <td th:text="${client.khmerFirstName}">
            </td>
            <td>
            </td>
        </tr>
        <tr class="text-left">
            <td class="bold">
                Family Name / First Name / Second Name (English)
            </td>
            <td th:text="${client.lastName}">
            </td>
            <td th:text="${client.firstName}">
            </td>
            <td>
            </td>
        </tr>
        <tr class="text-left">
            <td class="bold">
                Gender / Date of Birth
            </td>
            <td th:text="${client.gender == 'M'} ? 'Male' : 'Female'">
            </td>
            <td th:text="${#temporals.format(client.dob, 'dd/MM/yyyy')}">
            </td>
            <td>
            </td>
        </tr>
        <tr class="text-left">
            <td class="bold">
                POB: Province / District / Commune
            </td>
            <td th:text="${client.placeOfBirth.province}">
            </td>
            <td th:text="${client.placeOfBirth.district}">
            </td>
            <td th:text="${client.placeOfBirth.commune}">
            </td>
    </table>
    <div class="bold demarcation">Additional Identification:</div>
    <table class="table-with-border">
        <tr>
            <th class="bold">Data Load</th>
            <th class="bold">ID Type</th>
            <th class="bold">ID Number</th>
            <th class="bold">Expire Date</th>
        </tr>
    </table>


    <div class="bold demarcation">Enquiry Detail:</div>
    <div>
        <span>All Previous Enquiry: </span><span th:text="${client.summary.totalPreviousEnquiryNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Enquiries for Previous 30 Days: </span><span
            th:text="${client.summary.totalPreviousEnquiryIn30daysNumber}"></span>
    </div>
    <table class="table-with-border">
        <tr>
            <th>ENQ Date</th>
            <th>Enquirer</th>
            <th>ENQ Type</th>
            <th>Acc Type</th>
            <th>Member Ref</th>
            <th>Product Type</th>
            <th>ENQ Amount</th>
            <th>Name</th>
        </tr>
        <tr th:each="previousEnquiry : ${client.previousEnquiries}">
            <td th:text="${#temporals.format(previousEnquiry.date, 'dd/MM/yyyy')}">
            <td th:text="${previousEnquiry.enquirer}"></td>
            <td th:text="${previousEnquiry.type == 'NA'} ? 'New Application' : ''">
            <td th:text="${previousEnquiry.accountType == 'J'} ? 'Joint' : 'Single'"></td>
            <td th:text="${previousEnquiry.memberRef}"></td>
            <td th:text="${previousEnquiry.loanPurpose}"></td>
            <td><span th:text="${previousEnquiry.currencyCode}"></span>&nbsp;<span
                    th:text="${#numbers.formatDecimal(previousEnquiry.amount, 1, 'DEFAULT', 2, 'DEFAULT')}"></span></td>
            <td><span th:text="${previousEnquiry.firstName}"></span>,<span th:text="${previousEnquiry.lastName}"></span>
            </td>
        </tr>
    </table>

    <div class="bold demarcation">Account Detail:</div>
    <div>
        <span>Total: </span><span th:text="${client.summary.totalAccountNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Normal: </span><span th:text="${client.summary.totalNormalAccountNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Delinquent: </span><span th:text="${client.summary.totalDelinquentAccountNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Closed: </span><span th:text="${client.summary.totalClosedAccountNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>write Off: </span><span th:text="${client.summary.totalWriteOffAccountNumber}"></span>
    </div>
    <table class="table-with-border demarcation">
        <tr>
            <th>Creditor</th>
            <th>Disb.Date</th>
            <th>Mate.Date</th>
            <th>Closed Date</th>
            <th>Status</th>
            <th>CCY</th>
            <th>Disb.Amt</th>
            <th>Outstanding</th>
            <th>Last AMT Paid</th>
            <th>Security Type</th>
            <th>Payment</th>
        </tr>
        <tr th:each="accountDetail : ${client.accountDetails}">
            <td th:text="${accountDetail.creditor}"></td>
            <td th:text="${#temporals.format(accountDetail.disbursementDate, 'dd/MM/yyyy')}">
            <td th:text="${accountDetail.maturityDate}"></td>
            <td th:text="${#temporals.format(accountDetail.closeDate, 'dd/MM/yyyy')}">
            <td th:text="${accountDetail.getFullStatusLabel()}"></td>
            <td th:switch="${accountDetail.currencyCode}">
                <span th:case="'USD'">US Dollar</span>
                <span th:case="'KHR'">Riel</span>
                <span th:case="'THB'">Bath</span>
            </td>
            <td th:text="${#numbers.formatDecimal(accountDetail.disbursementAmount, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(accountDetail.outstanding, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td th:text="${#numbers.formatDecimal(accountDetail.lastAMTPaid, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td th:text="${accountDetail.securityType}"></td>
            <td th:text="${accountDetail.payment}"></td>
        </tr>
    </table>

    <div class="bold demarcation">Guarantor Detail</div>
    <div>
        <span>Total: </span><span th:text="${client.summary.totalGuarantorNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Normal: </span><span th:text="${client.summary.totalNormalGuarantorNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Delinquent: </span><span th:text="${client.summary.totalDelinquentGuarantorNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Closed: </span><span th:text="${client.summary.totalClosedGuarantorNumber}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>write Off: </span><span th:text="${client.summary.totalWriteOffGuarantorNumber}"></span>
    </div>
    <table class="table-with-border demarcation">
        <tr>
            <th>Creditor</th>
            <th>Disb.Date</th>
            <th>Mate.Date</th>
            <th>Closed Date</th>
            <th>Status</th>
            <th>CCY</th>
            <th>Disb.Amt</th>
            <th>Outstanding</th>
            <th>Payment</th>
        </tr>
        <tr th:each="guarantor : ${client.guarantors}">
            <td th:text="${guarantor.creditor}"></td>
            <td th:text="${#temporals.format(guarantor.disbursementDate, 'dd/MM/yyyy')}">
            <td th:text="${#temporals.format(guarantor.maturityDate, 'dd/MM/yyyy')}">
            <td th:text="${#temporals.format(guarantor.closeDate, 'dd/MM/yyyy')}">
            <td th:text="${guarantor.getFullStatusLabel()}"></td>
            <td th:switch="${guarantor.currencyCode}">
                <span th:case="'USD'">US Dollar</span>
                <span th:case="'KHR'">Riel</span>
                <span th:case="'THB'">Bath</span>
            </td>
            <td th:text="${#numbers.formatDecimal(guarantor.disbursementAmount, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td th:text="${guarantor.outstanding}"></td>
            <td th:text="${guarantor.payment}"></td>
        </tr>
    </table>
</div>
</body>
</html>

<style>
    body {
        padding: 0 50px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    .table-with-border th, .table-with-border td {
        border: 1px solid black;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }

    .demarcation {
        margin-top: 15px;
    }

    #big-score-number {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        padding-right: 25px;
        border-right: 4px solid;
        width: 12%;
    }

    .score-second-column {
        padding-left: 25px;
    }

    .client {
        border: 3px solid;
        margin-top: 25px;
        padding: 15px;
    }
</style>
