<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Credit Report</title>
</head>
<body>
<h2>Credit History/ប្រវត្តិឥណទាន</h2>
<div>
    <table>
        <thead>
        <tr>
            <th>No/ល.រ</th>
            <th>Items/ ព័ត៌មាន</th>
            <th th:each="loan : ${loans}">
                Request <span th:text="${loan.no}"/> /សុំខ្ចីលើកទី <span th:text="${loan.no}"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>Loan Cycle/ខ្ចីលើកទី</td>
            <td th:each="loan : ${loans}" th:text="${loan.loanCycle}"></td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td>Account Number/លេខគណនីកម្ចី</td>
            <td th:each="loan : ${loans}" th:text="${loan.accountNumber}"></td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td>Request Date/កាលបរិច្ឆេទស្នើសុំខ្ចី</td>
            <td th:each="loan : ${loans}"></td>
        </tr>
        <tr>
            <td class="text-center">4</td>
            <td>Request status/ សេចក្តីសម្រេចលើការស្នើសុំ</td>
            <td th:each="loan : ${loans}" th:text="${loan.requestStatus}"></td>
        </tr>
        <tr>
            <td class="text-center">5</td>
            <td>Applicant type/ប្រភេទអ្នកស្នើសុំ</td>
            <td th:each="loan : ${loans}">
                <span th:if="${loan.clientType}" th:text="${loan.clientType.type}"></span>
            </td>
        </tr>
        <tr>
            <td class="text-center">6</td>
            <td>Other applicants/ ឈ្មោះអ្នករួមខ្ចី/ធានា</td>
            <td th:each="loan : ${loans}" th:text="${loan.otherApplicants}"></td>
        </tr>
        <tr>
            <td class="text-center">7</td>
            <td>Disbursement Date/កាលបរិច្ឆេទបើកកម្ចី</td>
            <td th:each="loan : ${loans}" th:text="${#temporals.format(loan.disbursementDate,'dd/MM/yyyy')}"></td>
        </tr>
        <tr>
            <td class="text-center">8</td>
            <td>Loan size/ ទំហំកម្ចី</td>
            <td th:each="loan : ${loans}"
                th:text="${#numbers.formatDecimal(loan.loanFee, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        <tr>
            <td class="text-center">9</td>
            <td>Currency/ រូបិយប័ណ្ណ</td>
            <td th:each="loan : ${loans}">
                <span th:if="${loan.currency!=null}" th:text="${loan.currency.currency}"></span>
            </td>
        </tr>
        <tr>
            <td class="text-center">10</td>
            <td>Interest Rate/ អត្រាការប្រាក់​ប្រចាំឆ្នាំ</td>
            <td th:each="loan : ${loans}">
                <span th:text="${loan.interestRate}"></span>%
            </td>
        </tr>
        <tr>
            <td class="text-center">11</td>
            <td>Loan Term/ រយៈពេលខ្ចី</td>
            <td th:each="loan : ${loans}"><span th:text="${loan.loanTerm}"></span> Months</td>
        </tr>
        <tr>
            <td class="text-center">12</td>
            <td>Lock in Period/ រយៈពេលខ្ចីអប្បបរមា</td>
            <td th:each="loan : ${loans}">
                <span th:if="${loan.lockInPeriod !=null}"><span th:text="${loan.lockInPeriod}"></span> Months</span>
            </td>
        </tr>
        <tr>
            <td class="text-center">13</td>
            <td>Used Term /​ រយៈពេលបានប្រើប្រាស់កម្ចី</td>
            <td th:each="loan : ${loans}"><span th:text="${loan.usedTerm}"></span> Months</td>
        </tr>
        <tr>
            <td class="text-center">14</td>
            <td>Repayment mode/ របៀបសងកម្ចី</td>
            <td th:each="loan : ${loans}">
                <span th:if="${loan.repaymentMode!=null}" th:text="${loan.repaymentMode.mode}"></span>
            </td>
        </tr>
        <tr>
            <td class="text-center">15</td>
            <td>Number of late installment (Last 3 Installment)/ចំនួនដងលើការសងយឺតបីខែចុងក្រោយ</td>
            <td th:each="loan : ${loans}" th:text="${loan.lateInstallment}"></td>
        </tr>
        <tr>
            <td class="text-center">16</td>
            <td>Loan status/ ស្ថានភាពកម្ចី</td>
            <td th:each="loan : ${loans}" th:text="${loan.loanStatus}"></td>
        </tr>
        <tr>
            <td class="text-center">17</td>
            <td>Aging/ចំនួនថ្ងៃសងយឹត</td>
            <td th:each="loan : ${loans}" th:text="${loan.aging}"></td>
        </tr>
        <tr>
            <td class="text-center">18</td>
            <td>Paid off amount/ ទឹកប្រាក់សងផ្តាច់</td>
            <td th:each="loan : ${loans}"
                th:text="${#numbers.formatDecimal(loan.paidOffAmount, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        <tr>
            <td class="text-center">19</td>
            <td>Loan Purpose/ គោលបំណងខ្ចី</td>
            <td th:each="loan : ${loans}">
                <span th:text="${loan.rawLoanPurpose}"></span>
            </td>
        </tr>
        <tr>
            <td class="text-center">20</td>
            <td>Total Collaterals Number/ ចំនួនទ្រព្យដាក់ធានាសរុប</td>
            <td th:each="loan : ${loans}" th:text="${loan.totalCollateral}"></td>
        </tr>
        <tr>
            <td class="text-center">21</td>
            <td>Collateral Category/ ប្រភេទទ្រព្យធានា</td>
            <td th:each="loan : ${loans}" th:text="${loan.rawCollateralType}"></td>
        </tr>
        <tr>
            <td class="text-center">22</td>
            <td>PRASAC scoring/ ពិន្ទុឥណទាននៅប្រាសាក់</td>
            <td th:each="loan : ${loans}" th:text="${loan.prasacScoring}"></td>
        </tr>
        <tr>
            <td class="text-center">23</td>
            <td>CBC scoring/ ពិន្ទុឥណទាននៅក្នុងប្រព័ន្ធ CBC</td>
            <td th:each="loan : ${loans}" th:text="${loan.cbcScoring}"></td>
        </tr>
        <tr>
            <td class="text-center">24</td>
            <td>Multiple Loan/កម្ចីជាន់ស្ថាប័នផ្សេង</td>
            <td th:each="loan : ${loans}">
                <span th:text="${loan.multipleLoanCode}"></span>_<span th:text="${loan.multipleLoan}"></span>
            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    .text-center {
        text-align: center;
    }
</style>
