<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit History Monitoring</title>
</head>
<body>
<h2>Credit History Monitoring</h2>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Events</th>
        <th>Amount</th>
        <th>Lender</th>
        <th>Reference</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" credit: ${credits}">
        <td th:text="${#temporals.format(credit.enqDate,'dd/MM/yyyy')}"></td>
        <td th:text="${credit.event}"></td>
        <td>
            <span th:text="${#numbers.formatDecimal(credit.amount, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
            <span th:if="${credit.currency!=null}" th:text="${credit.currency.currency}"></span>
        </td>
        <td th:text="${credit.lender}"></td>
        <td th:text="${credit.reference}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>
