<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Loan Request History</title>
</head>
<body>
<div th:if="${client==null}">
    <h2>Client not found!</h2>
</div>
<div th:if="${client!= null}">
    <h2>Personal Information History</h2>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Items</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>CIF Number</td>
            <td>
                <span th:if="${client.cif!=null}" th:text="${client.cif}"></span>
                <span th:if="${client.cif==null}">N/A</span>
            </td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td>Full Name</td>
            <td>
                <div th:text="${client.fullName}"></div>
                <div th:text="${client.khmerFullName}"></div>
            </td>
        </tr>
        <tr>
            <td class="text-center">3</td>
            <td>Date of Birth</td>
            <td th:text="${#temporals.format(client.dob,'dd/MM/yyyy')}"></td>
        </tr>
        <tr>
            <td class="text-center">4</td>
            <td>ID Type</td>
            <td th:text="${client.idType}">
            </td>
        </tr>
        <tr>
            <td class="text-center">5</td>
            <td>ID Number</td>
            <td th:text="${client.idNumber}">
            </td>
        </tr>
        <tr>
            <td class="text-center">6</td>
            <td>Address</td>
            <td th:text="${client.address}"></td>
        </tr>
        <tr>
            <td class="text-center">7</td>
            <td>Marital Status</td>
            <td>
                <div th:text="${client.rawMaritalStatus}"></div>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Loan Request History</h2>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Request Date</th>
            <th>Request Amount</th>
            <th>Currency</th>
            <th>Request Status</th>
            <th>Reject Reason</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan, i : ${loans}">
            <td class="text-center" th:text="${i.index+1}"></td>
            <td th:text="${#temporals.format(loan.requestDate,'dd/MM/yyyy')}"></td>
            <td th:text="${#numbers.formatDecimal(loan.requestAmount, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td>
                <span th:if="${loan.currency!=null}" th:text="${loan.currency.currency}"></span>
            </td>
            <td th:text="${loan.requestStatus}"></td>
            <td th:text="${loan.rejectReason}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    .text-center {
        text-align: center;
    }
</style>