<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Loan Repayment Schedule</title>
</head>
<body>
<table id="header-table">
    <tr>
        <td>
            <img width="150px" height="150px" src="/imgs/prasac.png">
        </td>
        <td>
            <img width="100px" height="100px" src="/imgs/QR_code.png">
        </td>
        <td class="text-center" colspan="2">
            <span class="bold font-size-big"> គ្រឹះស្ថានមីក្រូហិរញ្ញវត្ថុប្រាសាក់ </span></br>
            <span class="bold"> ការិយាល័យសាខាៈ </span> <span class="bold"
                                                             th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].fckh} : ''"></span></br>
            <span class="bold underline font-size-big"> កាលវិភាគសងប្រាក់ </span>
        </td>
        <td class="text-center" colspan="2">
            ឯកភាពបង់ប្រាក់តាមតារាង</br>
            សងប្រាក់នេះ</br>
            ថ្ងៃទីៈ........ /........../..........</br>
            ស្នាមមេដៃស្តាំ
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    ឈ្មោះមន្រ្តីឥណទាន
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].creditOfficer} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    ទូរស័ព្ទលេខ
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].telephone} : ''"></span>
        </td>
        <td rowspan="2" width="10%"></td>
        <td rowspan="2" width="10%"></td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    លេខគណនីកម្ចី
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].loanNumber + ' (' + loanRepaymentsSchedule[0].customerId +')'}: ''"></span>
        </td>
        <td>
                <span class="field-name">
                    ថ្ងៃបើកប្រាក់
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].valueDate}: ''"></span>
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    លេខគណនីសន្សំ
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].cust1} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    ថ្ងៃសងចុងក្រោយ
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].dueDate} : ''"></span>
        </td>
        <td class="border-none"></td>
        <td class="border-none"></td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    ឈ្មោះអតិថិជន
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].khmerFullName} : ''"></span>&nbsp;
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].customerNameLeader} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    រយៈពេលខ្ចី
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].noDate + ' ថ្ងៃ'} : ''"></span>
        </td>
        <td class="border-none"></td>
        <td class="border-none"></td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    ឈ្មោះជាអក្សរឡាតាំង
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].customerName1} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    រយៈពេលខ្ចីអប្បរមា
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].minLnTerm + ' ខែ'} : ''"></span>
        </td>
        <td class="border-none"></td>
        <td class="border-none"></td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    ចំនួនទឹកប្រាក់បានខ្ចី
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].amountFinanced, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${' ' + loanRepaymentsSchedule[0].currency} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    អត្រាការប្រាក់
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td colspan="3" class="text-center">
            <span th:text="${loanRepaymentsSchedule.size() > 0} ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].intRate/12.0, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>%
            ក្នុងមួយខែ ឬ
            <span th:text="${loanRepaymentsSchedule.size() > 0} ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].intRate, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>%
            ក្នុងមួយឆ្នាំ
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    ការប្រាក់សរុប(១)
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${loanRepaymentsSchedule.size() > 0} ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].intDue, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${' ' + loanRepaymentsSchedule[0].currency} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    អត្រាពិន័យ
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td colspan="3" class="text-center">
            <span th:text="${loanRepaymentsSchedule.size() > 0} ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].pnlOrate/12.0, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            % ក្នុងមួយខែ ឬ
            <span th:text="${loanRepaymentsSchedule.size() > 0} ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].pnlOrate, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            % ក្នុងមួយឆ្នាំ
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    កំរៃសេវាឥណទាន(២)
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].loanFee,1 ,'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${' ' + loanRepaymentsSchedule[0].currency} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    កំរៃសេវាឆែក CBC(៣)
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].cbcFee, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${' ' + loanRepaymentsSchedule[0].currency} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    ខ្ចីលើកទី
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].loanCycle} : ''"></span>
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    សរុប (១+២+៣)
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${#numbers.formatDecimal(loanRepaymentsSchedule[0].intDue + loanRepaymentsSchedule[0].loanFee + loanRepaymentsSchedule[0].cbcFee, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${' ' + loanRepaymentsSchedule[0].currency} : ''"></span>
        </td>
        <td>
                <span class="field-name">
                    វត្ថុដាក់បញ្ចាំ
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td colspan="3" class="text-center">
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].collateral} : ''"></span>
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    គោលបំណងកម្ចី
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td colspan="5">
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].purpose} : ''"></span>
        </td>
    </tr>
    <tr>
        <td>
                <span class="field-name">
                    អាសយដ្ឋាន
                    &nbsp;&nbsp;:
                </span>
        </td>
        <td colspan="5">
            <span th:text="${ loanRepaymentsSchedule.size() > 0 } ? ${loanRepaymentsSchedule[0].addressLine1 + ', ' + loanRepaymentsSchedule[0].addressLine2 + ', ' + loanRepaymentsSchedule[0].addressLine3 + ', ' + loanRepaymentsSchedule[0].addressLine4 + ', ' + loanRepaymentsSchedule[0].addressLine5} : ''"></span>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>ល.រ</th>
        <th colspan="2">ថ្ងៃសងប្រាក់</th>
        <th>ចំនួនថ្ងៃ</th>
        <th>ប្រាក់ដើមនៅជំពាក់</th>
        <th>ប្រាក់ដើមត្រូវសង</th>
        <th>ការប្រាក់ត្រូវសង</th>
        <th>ប្រាក់ត្រូវសងសរុប</th>
        <th>សំគាល់</th>
    </tr>

    <tr th:each="loanRepaymentSchedule : ${loanRepaymentsSchedule}">
        <td class="text-center" th:text="${loanRepaymentSchedule.noInst}"></td>
        <td class="text-right padding-right-5px" th:text="${loanRepaymentSchedule.dueDate}"></td>
        <td class="text-left padding-left-5px" th:text="${loanRepaymentSchedule.dy}"></td>
        <td class="text-center" th:text="${loanRepaymentSchedule.noDate}"></td>
        <td class="text-center"
            th:text="${#numbers.formatDecimal(loanRepaymentSchedule.begBalance,1 ,'DEFAULT',2, 'DEFAULT')}"></td>
        <td class="text-center"
            th:text="${#numbers.formatDecimal(loanRepaymentSchedule.prinDue, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-center"
            th:text="${#numbers.formatDecimal(loanRepaymentSchedule.intDue, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-center"
            th:text="${#numbers.formatDecimal(loanRepaymentSchedule.totDue, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="3" class="text-center bold">សរុបៈ</td>
        <td class="text-center padding-top-10px bold"
            th:text="${#aggregates.sum(loanRepaymentsSchedule.![noDate])}"></td>
        <td class="text-center padding-top-10px bold"></td>
        <td class="text-center padding-top-10px bold"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanRepaymentsSchedule.![prinDue]), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-center padding-top-10px bold"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanRepaymentsSchedule.![intDue]), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-center padding-top-10px bold"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanRepaymentsSchedule.![totDue]), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td></td>
    </tr>
</table>

<table style="margin-bottom: 25px" class="notice">
    <tr>
        <td>កំណត់សំគាល់ៈ</td>
        <td>
            - អតិថិជនត្រូវបង់ប្រាក់អោយបានទៀងទាត់តាមកាលវិភាគសងប្រាក់</br>
            - រាល់ការសងប្រាក់ចំថ្ងៃឈប់សំរាក ថ្ងៃសៅរ៍ អាទិត្យ ឬថ្ងៃបុណ្យ ត្រូវមកសងមួយថ្ងៃ មុនកាលកំណត់ត្រូវសង</br>
            - ការមិនគោរពតាមកិច្ចសន្យា គ្រឹះស្ថានមីក្រូហិរញ្ញវត្ថុប្រាសាក់នឹងចាត់វិធានការណ៍តាមផ្លូវច្បាប់</br>
        </td>
    </tr>
</table>
</body>
</html>
<style>
    body {
        margin: 0 50px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 25px;
    }

    table td, table th {
        border: 1px solid black;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        text-decoration: underline;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .font-size-big {
        font-size: 1.5em;
    }

    .border-none {
        border: none;
    }

    .field-name, .notice {
        color: #011993;
    }

    .padding-right-5px {
        padding-right: 5px;
    }

    .padding-left-5px, #header-table td {
        padding-left: 5px;
    }
</style>