<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Loan Statement</title>
</head>
<body>
<table id="first-header">
    <tr>
        <td>
            PRASAC
        </td>
    </tr>
    <tr>
        <td>
            BANK STATEMENT
        </td>
    </tr>
    <tr>
        <td>
            BRANCH:
            <span th:text="${loanStatements.size() > 0} ? ${loanStatements[0].branch} : ''"></span>
        </td>
    </tr>
    <tr>
        <td>
            REPORT_DATE:
            <span th:text="${loanStatements.size() > 0} ? ${#dates.format(loanStatements[0].reportDate, 'dd-MMM-yy')} : ''"></span>
        </td>
    </tr>
</table>
<table id="second-header">
    <tr>
        <td class="text-left">
                <span class="bold">
                    ACCOUNT NUMBER
                </span>
            <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${loanStatements[0].loanAccount} : ''"></span>
        </td>
        <td class="text-left">
                <span class="bold">
                    DISBURSED DATE
                </span>
            <span>
                    &nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${#dates.format(loanStatements[0].disbDate, 'dd-MMM-yy')} : ''"></span>
        </td>
    </tr>
    <tr>
        <td class="text-left">
                <span class="bold">
                    CUSTOMER NUMBER
                </span>
            <span>
                    &nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${loanStatements[0].customerNo} : ''"></span>
        </td>
        <td class="text-left">
                <span class="bold">
                    MATURITY DATE
                </span>
            <span>
                    &nbsp;&nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${#dates.format(loanStatements[0].mtDate, 'dd-MMM-yy')} : ''"></span>
        </td>
    </tr>
    <tr>
        <td class="text-left">
                <span class="bold">
                    CUSTOMER NAME
                </span>
            <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                </span>
            <span class="normal" th:text="${loanStatements.size() > 0} ? ${loanStatements[0].fullName} : ''"></span>
        </td>
        <td class="text-left">
                <span class="bold">
                INTEREST RATE
                </span>
            <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${#numbers.formatDecimal(loanStatements[0].intRate/12.0, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span>
                    % per Month or
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${#numbers.formatDecimal(loanStatements[0].intRate, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span>
                    % per Year
                </span>
        </td>
    </tr>
    <tr>
        <td class="text-left">
                <span class="bold">
                    ADDRESS
                </span>
            <span>
                    &nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${loanStatements[0].address}"></span>
        </td>
        <td class="text-left">
                <span class="bold">
                    PENALTY RATE
                </span>
            <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${#numbers.formatDecimal(loanStatements[0].pnlRate/12.0, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span>
                    % per Month or
                </span>
            <span th:text="${loanStatements.size() > 0} ? ${#numbers.formatDecimal(loanStatements[0].pnlRate, 1, 'DEFAULT', 2, 'DEFAULT')} : ''"></span>
            <span>
                    % per Year
                </span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="text-left">
                <span class="bold">
                    CURRENCY
                </span>
            <span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                </span>
            <span class="normal" th:text="${loanStatements.size() > 0} ? ${loanStatements[0].currency}"></span>
        </td>
    </tr>
</table>
<table style="margin-top:35px">
    <tr>
        <th class="text-left">Value_Date</th>
        <th class="text-right" width="10%">Disbursed_Amount</th>
        <th class="text-right">Principle</th>
        <th class="text-right">Interest</th>
        <th class="text-right">Penalty</th>
        <th class="text-right">Total</th>
        <th class="text-right">Balance</th>
    </tr>

    <tr th:each="stm : ${loanStatements}">
        <td class="text-left" th:text="${stm.valueDate}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(stm.disbAmount, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(stm.principal, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(stm.interest, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(stm.penalty, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-right"
            th:text="${#numbers.formatDecimal(stm.principal + stm.interest + stm.penalty, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(stm.balance, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
    </tr>
    <tr style="margin-top: 5px">
        <th class="text-left padding-top-10px">Total</th>
        <th></th>
        <th class="text-right padding-top-10px"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanStatements.![principal]), 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
        <th class="text-right padding-top-10px"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanStatements.![interest]), 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
        <th class="text-right padding-top-10px"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanStatements.![penalty]), 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
        <th class="text-right padding-top-10px"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanStatements.![principal]) + #aggregates.sum(loanStatements.![interest]) + #aggregates.sum(loanStatements.![penalty]), 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
        <th class="text-right padding-top-10px"
            th:text="${#numbers.formatDecimal(#aggregates.sum(loanStatements.![balance]), 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
    </tr>

</table>
</body>
</html>
<style>
    body {
        margin: 0 50px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 25px;
    }

    table td {
        /*border: 1px solid black;*/
    }

    #first-header {
        text-align: center;
    }

    #second-header {
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .bold {
        font-weight: bold;
    }

    .padding-top-10px {
        padding-top: 10px;
    }
</style>